@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
body {
  background-color: red;
}
.btn-style {
  position: absolute;
  left: 47.5%;
  top: 60%;
  margin-left: -110px;
  margin-top: -40px;
}
.btn {
  font-family: "Open Sans", sans-serif;
  background-color: #eeff44;
  font-weight: bold;
  width: 80px;
  height: 40px;
  margin-left: 10px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: #eeff44;
}

[data-crono] {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 45%;
  margin-left: -110px;
  margin-top: -40px;
}
